body {
    margin: 0;
    background-color: antiquewhite;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 20px;

}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.container {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);;
    display: flex;
    flex-wrap: wrap;
}

.grids {
    height: 31.25px;
    width: 31.25px;
}